rect.background {
	fill: none;
	}

.track-controls[selected] .background {
	fill: rgba(248, 229, 27, 0.25);
	}

rect.meter {
	fill: rgba(0, 255, 0, 0.5);
	}

.record-armed {
	fill: #a8a8a8;
	}
.record-armed[armed] {
	fill: rgba(255, 0, 0, 1);
	}


