body {
	font-family: Arial;
	}

p#start_message {
	font-style: italic;
	}

span.hideable-span[hidden] {
	display: none;
	}
div.hideable-div[hidden] {
	display: none;
	}
.hideable[hidden] {
	display: none;
	}

span#dirty {
	color: red;
	}

span.button {
	font-family: Raleway, Arial Black;
	font-weight: 800;
	font-size: large;
	text-decoration: none;
	color: black;
	border: 1px solid #AAAAAA;
	padding: 0.1em 0.5em 0.2em 0.5em;
	}
span.button span.larger-icon {
	font-size: x-large;
	}
span.button:hover {
	cursor: pointer;
	}
span#play[playing] {
	background: #60FF60;
	}
span#record[recording] {
	background: #FF6060;
	}

div.button-row {
	margin-bottom: 0.5em;
	}
span.button-span {
	margin-right: 1em;
	white-space: nowrap;
	}

div#clock {
	font-family: Arial Black;
	}

div#clock[xrun] {
	background: red;
	}

table#header-table {
	width: 100%;
	}
td.header-left {
	width: 100px;
		/* Deliberately short, but the content will widen it. */
	}
td.header-middle {
	text-align: center;
	}
td.header-right {
	text-align: right;
	}
div#entered-value {
	min-width: 4em;
	}

div.menubar span.menu {
	font-family: Arial Black;
	text-align: left;
	padding: 0.1em 0.5em;
	cursor: pointer;
	}


div#error {
	display: none;
	text-align: center;
	color: red;
	font-family: Arial Black;
	margin: 0em auto 0.75em auto;
	}

div#stats {
	display: none;
	font-family: monospace;
	margin: 0em auto 0.75em auto;
	white-space: pre-wrap;
	}


div#master {
	width: 100%;
	}
div#tracks {
	width: 100%;
	height: 100%;
	margin-top: 0.5em;
	}
div#tracksville {
	position: relative;
	top: 0px;
	left: 0px;
	}
div#playhead-div {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	pointer-events: none;
	}
div.track {
	position: relative;
	left: 0px;
	top: 0px;
	}


div.popup-menu {
	position: absolute;
	top: 0px;
	left: 0px;
	background: white;
	border: 1px black solid;
	font-family: Arial;
	}
div.popup-menu a {
	display: block;
	padding: 4px 12px;
	width: auto;
	background: white;
	}
div.popup-menu a:hover {
	background: #49A3FF;
	cursor: pointer;
	}
div.popup-menu a span.checkmark {
	visibility: hidden;
	text-align: center;
	}
div.popup-menu a span.checkmark[selected] {
	visibility: visible;
	}
div.popup-menu table.submenu-item {
	padding: 4px 12px;
	width: 100%;
	background: white;
	}
div.popup-menu table.submenu-item:hover {
	background: #49A3FF;
	cursor: pointer;
	}
div.popup-menu table.submenu-item td.arrow {
	text-align: right;
	font-size: 0.75em;
	}
div.popup-menu hr {
	background: #CCC;
	border: none;
	height: 1px;
	margin: 0.15em auto;
	}


div#projects a.project {
	display: block;
	font-family: Arial Black;
	text-decoration: none;
	}
div#cancel-open-project-div {
	margin-top: 0.75em;
	}
a#cancel-open-project {
	text-decoration: none;
	}

